// main: ../main.scss
/*--------------------------------------------------------------
# Trainers Index Section
--------------------------------------------------------------*/
.trainers-index {
  .member {
    background-color: var(--surface-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    text-align: center;
    margin-bottom: 20px;

    img {
      margin: -1px -1px 30px -1px;
    }

    .member-content {
      padding: 0 20px 30px 20px;
    }

    h4 {
      font-weight: 700;
      margin-bottom: 2px;
      font-size: 18px;
    }

    span {
      font-style: italic;
      display: block;
      font-size: 13px;
      color: color-mix(in srgb, var(--default-color), transparent 20%);
    }

    p {
      padding-top: 10px;
      font-size: 14px;
      font-style: italic;
      color: color-mix(in srgb, var(--default-color), transparent 40%);
    }

    .social {
      margin-top: 15px;

      a {
        color: color-mix(in srgb, var(--default-color), transparent 60%);
        transition: 0.3s;

        &:hover {
          color: var(--accent-color);
        }
      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }
  }
}